/** General styles **/

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#E5E5E5;
}

/*////////////////////////////////////////
//////////////////  LISTAS  ////////////////
///////////////////////////////////////// */
.list {
  background-image: -webkit-linear-gradient(#e5e5e5 49px,#eaeaea 49px);
  background-image: linear-gradient(#e5e5e5 49px,#eaeaea 49px);
  -webkit-background-size: 100% 98px;
  background-size: 100% 98px;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  margin-bottom: 20px;
  padding: 0px;
}

.item {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
    height: 55px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}
.item .name{
  font-weight: bold;
}
