

<div ng-controller="MainCtrl" class="md-padding" ng-cloak>
  <md-content class="md-whiteframe-1dp md-padding">
    <h1 class="md-title">Selecciona el armario que necesites</h1>
    <div layout="row">
      <md-input-container class="">
        <label>Escoja su armario</label>
        <md-select ng-model="newArmario">
          <md-option ng-repeat="product in products" ng-value="product.name">{{product.name}}</md-option>
        </md-select>
      </md-input-container>
    </div>

  <md-divider ng-if="!$last"></md-divider>

    <h1 class="md-title">Selecciona tu marca preferida</h1>
    <div layout="row">
      <md-input-container class="">
        <label>Escoja su marca</label>
        <md-select ng-model="newBrand">
          <md-option ng-repeat="brand in brands" ng-value="brand">{{brand.name}}</md-option>
        </md-select>
      </md-input-container>
    </div>

    <md-divider ng-if="!$last"></md-divider>

    <h1 class="md-title">Selecciona la corriente nominal y de ruptura</h1>
    <div layout="row">
      <md-input-container class="">
        <label>I nominal</label>
        <md-select ng-model="newI">
          <md-option ng-repeat="In in newBrand.in" ng-value="In">{{In}}</md-option>
        </md-select>
      </md-input-container>
    </div>

  </md-content>

<pre>form = {{ newBrand | json}}</pre>
</div>
